/* ============================================================
   SECCIÓN DE PRODUCTOS
   ============================================================ */

.productos-container {
  position: relative; /* para que el video se posicione dentro */
  padding: 40px 0;
  text-align: center;
  overflow: hidden; /* evita scroll si el video excede */
  /* color de respaldo si el video no carga */
}

.titulo-producto {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
}

/* GRID DE PRODUCTOS */
.productos-grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* TARJETA */
.producto-card {
  background: #2e2e2e;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  transition: 0.3s;
}

.producto-card:hover {
  transform: translateY(-5px);
  background: #3a3a3a;
}

/* ICONO DE FAVORITO */
.favorito {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 22px;
  color: #ff3333;
  cursor: pointer;
  transition: 0.3s;
}

.favorito.activo {
  color: red;
}


/* IMAGEN DEL PRODUCTO */
.producto-img {
  width: 140px;
  height: auto;
  margin-bottom: 15px;
}

/* TITULO */
.producto-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  min-height: 45px; /* para alinear */
}

/* PRECIO */
.precio {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #e0e0e0;
}

/* MÉTODOS DE PAGO */
.metodos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

/* Estilos generales de los íconos */
.metodos i {
  font-size: 28px;
  color: #dcdcdc;
  opacity: 0.85;
  transition: 0.3s ease;
}

/* Hover */
.metodos i:hover {
  opacity: 1;
  transform: scale(1.15);
}

/* Colores personalizados */
.metodos .yape {
  color: #ffffff; /* tono oficial aproximado */
}

.metodos .fa-cc-visa {
  color: #ffffff;
}

.metodos .fa-cc-mastercard {
  color: #ffffff;
}



/* BOTÓN DE CARRITO */
.btn-carrito {
  background: #ff3333;
  color: white;
  border: none;
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-carrito:hover {
  background: #cc2a2a;
}

/* PAGINACIÓN */
.paginacion {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-siguiente {
  background: #222;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.btn-anterior {
  background: #222;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-anterior:hover {
  background: #444;
}
.btn-siguiente:hover {
  background: #444;
}
